<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <title>ToDos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="mt-40 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <%= yield %>
      <%= turbo_frame_tag "modal" %>
    </main>
  </body>
</html>
